.container {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.sidebar {
    border-top-left-radius: 16px;
    border-style: 10px solid;
    width: 40%;
    background-color: #f2f0f0;
    padding: 20px;
    float: left;
    min-height: 100vh;
}

.content {
    border-left: 20px solid #3473c0!important;
    border: 5px solid #3473c0;
    width: 60%;
    padding: 20px;
    background-color: #b3d0e5;
    float: left;
    min-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.rounded-image {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px auto 0;
    display: block;
    border: 10px solid #3473c0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.additional-content {
    margin-top: 100px;
}

.skill {
    margin-bottom: 15px;
}

.progress {
    height: 20px;
    border: 2px solid #000;
    overflow: hidden;
    height: 20px;
    position: relative;
}

.progress-bar {
    background-color: #3473c0 !important;
    color: rgb(233, 228, 228);
    text-align: center;
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

